{% include 'header.html' %}

<body>
<div>
    <img class="pumpkin_img" src="static/img/pumpkins.png">
    <p>I was worried my Halloween was off to a bad start when a black {{animal1}} crossed my path,
        but it turned out ok. My best friend, {{person}}, and I went trick-or-treating the minute it
        started getting dark. I dressed as a {{adj1}} {{noun}} and my friend was a {{adj2}} {{thing}}. The first few houses
        gave out their traditional {{food}} instead of candy. When we reached the end of the block,
        my friend dared me to ring the doorbell on the spooky house at the top of the hill.
        I tip-toed to the door and just when I was going to push the button (a) {{monster}} answered the door.
        I screamed tried to {{verb1}} until I realized it was just a mask. The old lady behind the mask gave
        me candy {{number}} bars since she didn't have many visitors!</p>

    <a href="{{url_for('questions')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make Me a New Story</a>
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script src="static/js/index.js"></script>
</html>